# üß™ Jour 7 : Tests Statistiques en Python

Dans cette s√©ance, nous allons apprendre √† r√©aliser les tests statistiques classiques :
- Test de Student (t-test)
- ANOVA
- Test du chi¬≤
- Test de normalit√©
Nous utiliserons `scipy.stats` et `statsmodels`.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

## üì• Chargement des donn√©es

In [3]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## ‚úÖ T-test (Student)
Comparer les moyennes de deux groupes.

In [4]:
male = df[df['sex'] == 'Male']['tip']
female = df[df['sex'] == 'Female']['tip']
t_stat, p_val = stats.ttest_ind(male, female)
print(f'T-statistic: {t_stat:.3f}, p-value: {p_val:.3f}')

T-statistic: 1.388, p-value: 0.166

## üìä ANOVA : comparaison de moyennes pour plusieurs groupes

In [5]:
anova_result = stats.f_oneway(
    df[df['day'] == 'Thur']['tip'],
    df[df['day'] == 'Fri']['tip'],
    df[df['day'] == 'Sat']['tip'],
    df[df['day'] == 'Sun']['tip']
)
print(f'F-statistic: {anova_result.statistic:.3f}, p-value: {anova_result.pvalue:.3f}')

F-statistic: 1.672, p-value: 0.174

## üî¢ Test du chi¬≤ : ind√©pendance entre deux variables cat√©gorielles

In [6]:
contingency_table = pd.crosstab(df['sex'], df['smoker'])
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)
print(f'Chi¬≤ = {chi2:.2f}, p-value = {p:.4f}')

Chi¬≤ = 0.00, p-value = 1.0000

## üìè Test de normalit√© (Shapiro-Wilk)

In [7]:
shapiro_stat, shapiro_p = stats.shapiro(df['tip'])
print(f'Shapiro-Wilk statistic: {shapiro_stat:.3f}, p-value: {shapiro_p:.4f}')

Shapiro-Wilk statistic: 0.898, p-value: 0.0000

## üìù Exercices
- Testez si les pourboires varient selon le fait de fumer (`smoker`).
- Testez si `total_bill` suit une loi normale.
- Faites une ANOVA pour la variable `total_bill` par jour.
- Testez si le genre (`sex`) et le jour (`day`) sont ind√©pendants.